[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-decouple = "*"
django-cors-headers = "*"
djoser = "*"
drf-yasg = {extras = ["validation"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
